.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogsItems {
  padding: 10px;
}

.dialogItem a {
  text-decoration: none;
}

.messages {
  padding: 10px;
}

.dialogItem .active {
  color: rgba(0, 0, 0, 0.856);
}

.message {
}
